<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>119.254.110.60</MSDeployServiceURL>
    <DeployIisAppPath>spartan.api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="db" Order="1" Enabled="False">
          <Destination Path="Datasource=localhost;Database=spartan;uid=root;pwd=httz@db@2015;" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=localhost;database=spartan;user id=root;password=123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\db_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Datasource=localhost;Database=spartan;uid=root;pwd=123456;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)db-Web.config Connection String">
      <ParameterValue>Datasource=localhost;Database=spartan;uid=root;pwd=httz@db@2015;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>